.header {
  display: flex;
  align-items: center;
  padding: 30px;
}
h2 {
  margin-right: 50px;
}
.headd {
  margin-top: 50px;
}

.headd > * {
  display: flex;
  align-items: center;
}
h3 > * {
  margin: 20px;
}
