.Home {
  margin-top: 0px;
  margin-right: 60px;
}
h2 {
  margin-right: 50px;
}
.headd {
  margin-top: 10px;
}

.headd > * {
  display: flex;
  align-items: center;
}
h3 > * {
  margin: 20px;
}
h3:hover {
  background-color: rgba(189, 189, 189, 0.856);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Home {
    display: none;
  }
}
