* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

.nav {
  display: flex;
  border-bottom: 2px solid lightgray;
  background-color: white;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  width: 100%;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}
.Nav > Button {
  margin: 0 20px;
}

.logo img {
  height: 8vh;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.last button {
  margin-right: 40px;
}
.icons {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-left: 5px;
  width: 180px;
  background-color: rgb(207, 217, 226);
}
input {
  outline: none;
}
.last {
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.icon {
  margin-right: 5px;
}

.container {
  display: flex;
  background-color: #eff0f5;
  padding-top: 50px;
}
.Nav > button {
  color: gray;
}
button:focus-within {
  color: #1877f2;
}
.Nav button:focus-within {
  border-bottom: 5px solid #1877f2;
}
.Nav Button > *:hover {
  color: #1877f2;
}
@media only screen and (max-width: 600px) {
  .Nav > Button {
    display: none;
  }
  .last .logout {
    position: absolute;
    right: 3%;
  }

  .container {
    width: 30%;
    background-color: #eff0f5;
  }
}
